@import 'libs/reset';
@import 'libs/fonts';
@import 'base/mixins';
@import 'base/variables';

body {
    height: 100vh;
    font-family: 'Poppins Medium', sans-serif;
    display: grid;
    grid-template-columns: minmax(306px, 1fr) minmax(1134px, 9fr);
    grid-template-rows: auto;
    overflow-x: hidden;
    color: $black-color;
}

@import 'blocks/sidebar';