// Colors

$black-color: #000000;
$main-grey-color: #9197B3;
$secondary-grey-color: #757575;
$main-blue-color: #5932EA;

// Media breakpoints
$x-large-device-breakpoint: 1599.98px;
$large-device-breakpoint: 1199.98px;
$medium-device-breakpoint: 991.98px;
$small-device-breakpoint: 767.98px;
$x-small-device-breakpoint: 478.98px;